<h1><%= @comment.title %></h1>

<%= link_to "Edit", edit_post_comment_path(@post, @comment) %>
<%= link_to "Delete", post_comment_path(@post, @comment), 
:data => {:confirm => "WhHHHHATTT?",
:method => "delete" } %>

<p><%= @comment.body %></p>

<%= link_to "Post", post_path(@post) %>