<h1><%= @post.title %> </h1>
<a href="/">Go Home</a> Or
<%= link_to "Edit Post", edit_post_path(@post) %>
<%= link_to "Delete Post", post_path(@post), 
											:data => {:confirm => "oh no",
																:method => "delete"} %>


<p><%= image_tag @post.avatar.url(:medium) %></p>
<p><%= @post.body %></p>

<% if @post.comments.any? %>
<h4>Comments:</h4>
<ul>
	<% @post.comments.each do |comment| %>
		<li>
			<%= link_to comment.title, post_comment_path(@post, comment) %>
		</li> 
		<% end %>
</ul>
	<%= link_to "Add Another Comment", new_post_comment_path(@post) %>

<% else %>
<p>
	There are no Comments!  Add a comment below!
	<%= link_to "Add Comment", new_post_comment_path(@post) %>
</p>

<% end %>
